{{ define "main"}}
  {{ partial "header.html" . }}
  <main>
    {{ partial "search.html" . }}
    <!-- contents -->
    <div id="feedList" class="block-center">
      {{ $listPageDateFormat := .Site.Params.listPageDateFormat | default "January, 2006"}}
      {{ range $index, $value := .Pages.GroupByDate $listPageDateFormat }}
      {{ range .Pages }}
        <article class="h-entry">
          <a href="{{ .Permalink }}"><h2 class='title p-name'>{{ .Title }}</h2></a>
          {{ .Scratch.Set "noDateUpdate" true }}
          {{ partial "date.html" . }}
          <a style="display: none" class="u-url" href="{{ .Permalink }}"></a>
          <div class="e-content">
            {{ .Content }}
          </div>
        </article>
      {{ end }}
      {{ end }}
    </div>
  </main>
  {{ partial "footer.html" . }}
{{ end }}
