{{ define "main"}}
{{ .Scratch.Set "customTitleHeaderSet" true }}
{{ .Scratch.Set "customTitleHeader" "Blog" }}
{{ .Scratch.Set "customTitleHeaderLink" "/blog" }}
{{ partial "header.html" . }}
<main>
  <article class="h-entry">
    <h1 class='title'>{{ .Title }}</h1>
    <a style="display: none" class="u-url" href="{{ .Permalink }}"></a>
    {{ .Scratch.Set "beforeDateString" "Published on "}}
    {{ partial "date.html" . }}
    {{ partial "reading_time.html" . }}
    {{ partial "tags_list_page.html" . }}
    <!-- content -->
    <div class="e-content">
      {{ .Content }}
    </div>
  </article>
  {{ partial "webmentions.html" . }}
</main>
<!-- Metadata -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "NewsArticle",
    "headline": "{{ .Title }}",
    "image": [
      "{{ .Site.BaseURL }}/img/{{ .Site.Params.avatar }}"
     ],
    "datePublished": "{{ .Date.Format "2006-01-02" }}",
    "author": [{
        "@type": "Person",
        "name": "{{ .Site.Params.Author }}",
        "url": "{{ .Site.BaseURL }}",
        "email": "mailto://{{ .Site.Params.email }}",
        "image": "{{ .Site.BaseURL }}/img/{{ .Site.Params.avatar }}"
      }]
  }
  </script>
{{ partial "footer.html" . }}
{{ end }}
