{{ define "main"}}
  {{ partial "header.html" . }}
  <main>
    <style>main { text-align: left; }</style>
    {{ partial "search.html" . }}
    <p>
        This is an experimental page showing my toots from Mastodon.
        Currently, this does not support boosts and it does not automatically refresh.
        Feel free to check out
        <a href="https://fosstodon.org/@brozek">my profile at Fosstodon</a>
    </p>
    {{ $listPageDateFormat := .Site.Params.listPageDateFormat | default "January, 2006"}}
    {{ range $index, $value := .Pages.GroupByDate $listPageDateFormat }}
    {{ range .Pages }}
      <article class="toot h-entry">
        <div rel="author" class="h-card p-author toot-avatar">
          <img class="u-photo" width=50 src="{{ .Params.account.avatar }}"/>
          <span style="display: none;">{{ .Params.account.display_name }}</span>
        </div>
        <p class="date">Tooted on <time class="dt-published" datetime='{{ .Date }}'>{{ dateFormat "January 2, 2006 15:04" (time .Date) }}</time></p>
        <div class="e-content p-name">
          {{ .Content | safeHTML }}
          {{ if gt (len .Params.media_attachments) 0 }}
          <div class="toot-photos">
          {{ range .Params.media_attachments}}
            {{ if eq .type "image" }}
            <img src="{{ .preview_url }}" alt="{{ .description }}"/>
            {{ end }}
          {{ end }}
          </div>
          {{ end }}
        </div>
        <a class="u-url" style="display: none">{{ .Permalink }}</a>
        {{ range .Params.tags }}
        <a class="p-category" href="{{ .url }}" style="display: none;">{{ .name }}</a>
        {{ end }}
        <div class="toot-social">
            <span><i class='fas fa-share'></i> {{ .Params.replies_count }} </span>
            <span><i class='fas fa-retweet'></i> {{ .Params.reblogs_count }} </span>
            <span><i class='fas fa-star'></i> {{ .Params.favourites_count }} </span>
            <span>| Source: <a class="u-syndication" href="{{ .Params.syndication }}">{{ .Params.syndication }}</a></span>
        </div>
      </article>
    {{ end }}
    {{ end }}
  </main>
  {{ partial "footer.html" . }}
{{ end }}
