{{ define "main"}}
{{ .Scratch.Set "customTitleHeaderSet" true }}
{{ .Scratch.Set "customTitleHeader" "Toots" }}
{{ .Scratch.Set "customTitleHeaderLink" "/toots" }}
{{ partial "header.html" . }}
<main>
  {{ $dataJ := dict "account" .Params.account
          "account.display_name" .Params.account.display_name
          "created_at" .Date
          "content" .Content
          "media_attachments" .Params.media_attachments
          "Permalink" .Permalink
          "tags" .Params.tags
          "url" .Params.syndication
          "replies_count" .Params.replies_count
          "reblogs_count" .Params.reblogs_count
          "favourites_count" .Params.favourites_count
  }}

  {{ .Scratch.Set "toot" $dataJ }}
  {{ partial "external/toot.html" . }}
</main>
{{ end }}
