main .e-content a {
  background-color: transparent;
}

main .e-content a:active,
main .e-content a:hover {
  outline-width: 0;
}

main .e-content strong {
  font-weight: inherit;
}

main .e-content strong {
  font-weight: bolder;
}

main .e-content h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

main .e-content img {
  border-style: none;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

main .e-content code,
main .e-content kbd,
main .e-content pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

main .e-content hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

main .e-content input {
  font: inherit;
  margin: 0;
}

main .e-content input {
  overflow: visible;
}

main .e-content [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

main .e-content * {
  box-sizing: border-box;
}

main .e-content input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

main .e-content a {
  /* color: #0366d6; */
  /* text-decoration: none; */
  text-decoration: underline;
}

main .e-content a:hover {
  text-decoration: underline;
}

main .e-content strong {
  font-weight: 600;
}

main .e-content hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
}

main .e-content hr::before {
  display: table;
  content: "";
}

main .e-content hr::after {
  display: table;
  clear: both;
  content: "";
}

main .e-content table {
  border-spacing: 0;
  border-collapse: collapse;
}

main .e-content td,
main .e-content th {
  padding: 0;
}

main .e-content h1,
main .e-content h2,
main .e-content h3,
main .e-content h4,
main .e-content h5,
main .e-content h6 {
  margin-top: 0;
  margin-bottom: 0;
}

main .e-content h1 {
  font-size: 32px;
  font-weight: 600;
}

main .e-content h2 {
  font-size: 24px;
  font-weight: 600;
}

main .e-content h3 {
  font-size: 20px;
  font-weight: 600;
}

main .e-content h4 {
  font-size: 16px;
  font-weight: 600;
}

main .e-content h5 {
  font-size: 14px;
  font-weight: 600;
}

main .e-content h6 {
  font-size: 12px;
  font-weight: 600;
}

main .e-content p {
  margin-top: 0;
  margin-bottom: 10px;
}

main .e-content blockquote {
  margin: 0;
}

main .e-content ul,
main .e-content ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

main .e-content ol ol,
main .e-content ul ol {
  list-style-type: lower-roman;
}

main .e-content ul ul ol,
main .e-content ul ol ol,
main .e-content ol ul ol,
main .e-content ol ol ol {
  list-style-type: lower-alpha;
}

main .e-content dd {
  margin-left: 0;
}

main .e-content code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

main .e-content pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

main .e-content .octicon {
  vertical-align: text-bottom;
}

main .e-content .pl-0 {
  padding-left: 0 !important;
}

main .e-content .pl-1 {
  padding-left: 4px !important;
}

main .e-content .pl-2 {
  padding-left: 8px !important;
}

main .e-content .pl-3 {
  padding-left: 16px !important;
}

main .e-content .pl-4 {
  padding-left: 24px !important;
}

main .e-content .pl-5 {
  padding-left: 32px !important;
}

main .e-content .pl-6 {
  padding-left: 40px !important;
}

main .e-content::before {
  display: table;
  content: "";
}

main .e-content::after {
  display: table;
  clear: both;
  content: "";
}

main .e-content>*:first-child {
  margin-top: 0 !important;
}

main .e-content>*:last-child {
  margin-bottom: 0 !important;
}

main .e-content a:not([href]) {
  color: inherit;
  text-decoration: none;
}

main .e-content .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

main .e-content .anchor:focus {
  outline: none;
}

main .e-content p,
main .e-content blockquote,
main .e-content ul,
main .e-content ol,
main .e-content dl,
main .e-content table,
main .e-content pre {
  margin-top: 0;
  margin-bottom: 16px;
}

main .e-content hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}

main .e-content blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

main .e-content blockquote>:first-child {
  margin-top: 0;
}

main .e-content blockquote>:last-child {
  margin-bottom: 0;
}

main .e-content kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}

main .e-content h1,
main .e-content h2,
main .e-content h3,
main .e-content h4,
main .e-content h5,
main .e-content h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

main .e-content h1 .octicon-link,
main .e-content h2 .octicon-link,
main .e-content h3 .octicon-link,
main .e-content h4 .octicon-link,
main .e-content h5 .octicon-link,
main .e-content h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

main .e-content h1:hover .anchor,
main .e-content h2:hover .anchor,
main .e-content h3:hover .anchor,
main .e-content h4:hover .anchor,
main .e-content h5:hover .anchor,
main .e-content h6:hover .anchor {
  text-decoration: none;
}

main .e-content h1:hover .anchor .octicon-link,
main .e-content h2:hover .anchor .octicon-link,
main .e-content h3:hover .anchor .octicon-link,
main .e-content h4:hover .anchor .octicon-link,
main .e-content h5:hover .anchor .octicon-link,
main .e-content h6:hover .anchor .octicon-link {
  visibility: visible;
}

main .e-content h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #c9c9c9;
}

main .e-content h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #c9c9c9;
}

main .e-content h3 {
  font-size: 1.25em;
}

main .e-content h4 {
  font-size: 1em;
}

main .e-content h5 {
  font-size: 0.875em;
}

main .e-content h6 {
  font-size: 0.85em;
  color: #6a737d;
}

main .e-content ul,
main .e-content ol {
  padding-left: 2em;
}

main .e-content ul ul,
main .e-content ul ol,
main .e-content ol ol,
main .e-content ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

main .e-content li {
  word-wrap: break-all;
}

main .e-content li>p {
  margin-top: 16px;
}

main .e-content li+li {
  margin-top: 0.25em;
}

main .e-content dl {
  padding: 0;
}

main .e-content dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

main .e-content dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

main .e-content table {
  display: block;
  width: 100%;
  overflow: auto;
}

main .e-content table th {
  font-weight: 600;
}

main .e-content table th,
main .e-content table td {
  padding: 6px 13px;
  border: 1px solid #c9c9c9;
  background-color: #f6f6f6;
}

main .e-content img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #f6f6f6;
}

main .e-content img[align=right] {
  padding-left: 20px;
}

main .e-content img[align=left] {
  padding-right: 20px;
}

main .e-content code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: #f6f6f6;
  border-radius: 3px;
}

main .e-content pre {
  word-wrap: normal;
}

main .e-content pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

main .e-content .highlight {
  margin-bottom: 16px;
}

main .e-content .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

main .e-content .highlight pre,
main .e-content pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f6f6;
}

main .e-content pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

main .e-content .full-commit .btn-outline:not(:disabled):hover {
  color: #005cc5;
  border-color: #005cc5;
}

main .e-content kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1;
}

main .e-content :checked+.radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}

main .e-content .task-list-item {
  list-style-type: none;
}

main .e-content .task-list-item+.task-list-item {
  margin-top: 3px;
}

main .e-content .task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}

main .e-content hr {
  border-bottom-color: #eee;
}
