main .e-content img {
  box-shadow: none;
}

main .e-content hr {
  border-bottom: 1px solid #201d1a;
}

main .e-content hr {
  background-color: #1e1b17;
}

main .e-content blockquote {
  color: #958c82;
  border-left: 0.25em solid #201d1a;
}

main .e-content kbd {
  color: #bbb2a9;
  background-color: #050403;
  border: solid 1px #39342e;
  border-bottom-color: #6a625a;
  box-shadow: none;
}

main .e-content h1 .octicon-link,
main .e-content h2 .octicon-link,
main .e-content h3 .octicon-link,
main .e-content h4 .octicon-link,
main .e-content h5 .octicon-link,
main .e-content h6 .octicon-link {
  color: #e4e0dc;
}

main .e-content h1 {
  border-bottom: 1px solid #363636;
}

main .e-content h2 {
  border-bottom: 1px solid #363636;
}


main .e-content h6 {
  font-size: 0.85em;
  color: #958c82;
}

main .e-content table th,
main .e-content table td {
  padding: 6px 13px;
  border: 1px solid #363636;
  background-color: #090909;
}

main .e-content img {
  background-color: #090909;
}


main .e-content code {
  background-color: #090909;
}

main .e-content .highlight pre,
main .e-content pre {
  background-color: #090909;
}

main .e-content .full-commit .btn-outline:not(:disabled):hover {
  color: #005cc5;
  border-color: #005cc5;
}

main .e-content kbd {
  color: #bbb2a9;
  background-color: #050403;
  border: solid 1px #2e2a25;
  border-bottom-color: #39342e;
  box-shadow: none;
}

main .e-content :checked+.radio-label {
  border-color: #0366d6;
}

main .e-content hr {
  border-bottom-color: #111;
}
