/* General */
:root {
  --bg-color: #101010;
  --text-color: #8f8f8f; 
  --header-color: #dedede;
  --accent-color: #7b5b4c;
}
body {
  background-image: url(/img/winter-dark.png);
}

.header-top {
  background-color: #232323;
}

#searchBox #searchBoxInput {
  color: #8f8f8f;
  background-color:#363636;
  border: solid 1px #363636;
}

#searchBox #searchBoxInput::placeholder {
  color: #363636;
}

#searchResults {
  background-color:#363636;
  border: solid 1px #363636;
}

#searchResults mark {
  background-color: #222020;
}

#tags li a {
  background-color: #222020;
}

.bloglist hr.separator {
  border: solid 1px #363636;
}

img.avatar-border {
  filter: invert(100%);
}
