/*
** General
*/
body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  background-color: #EFEFEF;
  color: #575757;
  text-align: center;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  font-size: 1.1rem;
  word-wrap: break-word;
}

a:link {
  color: #575757;
}

a:visited {
  color: #575757;
}

a:hover {
  color: #575757;
}

a:active {
  color: #575757;
}

.title {
  font-family: 'Comfortaa';
}

/*
** HEADER
*/
.avatarMask {
  clip-path: circle(48px at center);
  -webkit-clip-path: circle(48px at center);
}

/* Topbar Header */

.header-top {
  padding: 20px;
  color: black;
  background-color: #f2f2f2;
  border-bottom: 1px solid #979797;
  padding-left: 3rem;
}

.header-top a { color: black !important;}

.header-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.header-top .title { margin-right: 1rem; }

.header-top .h-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  width: 350px;
}

.header-top .h-card .u-photo {
  height: 100px;
}

@media (max-width: 550px) {
  .header-top {
    padding-left: 20px;
  }
  .header-top .title { margin-right: 0; }
  .header-flex { flex-direction: column; }
  .header-top .h-card {
    flex-direction: column-reverse;
  }
}

/* END HEADER */

/*
** NAVIGATION
*/
.nav-home ul {
  display: flex;
  justify-content: space-evenly;
  /* max-width: 300px; */
  margin: 20px auto;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.nav-home li {
  margin: 0 10px;
}

/* END NAVIGATION */

/*
** SEARCH
*/ 
mark {
  color: #707070;
  font-weight: bold;
}

#searchBox {
  position: relative;
  max-width: 300px;
  height: 30px;
  margin: 20px auto;
}

#searchBox #searchBoxInput {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 35px 0 15px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  outline: 0;
  font-size: 15px;
  color: #707070;
  background-color:#f6f6f6;
  border: solid 1px #c9c9c9;
  box-sizing: border-box;
}

#searchBox #searchBoxInput::placeholder {
  color: #c9c9c9;
}

#searchBox #searchBoxIcon {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 5px;
  right: 10px;
}

#searchResults {
  display: none;
  position: absolute;
  max-width: 600px;
  /* min-width: 300px; */
  margin: 0 auto;
  top: 330px;
  left: 0;
  right: 0;
  padding: 5px;
  background-color:#f6f6f6;
  border: solid 1px #c9c9c9;
  border-radius: 5px;
  text-align: left;
  box-sizing: border-box;
}

#searchResults .searchResultPage {
  padding: 20px
}

#searchResults .searchResultTitle {
  font-weight: bold;
  margin: 5px 0;
}

#searchResults .searchResultBody {
  font-size: 14px;
}

#searchResults mark {
  background-color: #dddfdf;
}

/* END SEARCH */

/*
** TAGS
*/
#tags ul {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  padding: 0;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

#tags li a {
  display: block;
  height: 24px;
  margin: 5px;
  padding: 0 5px;
  background-color: #dddfdf;
  border-radius: 5px;
  font-size: 14px;
}

/* END TAGS */

/*
** BLOG LIST PAGE
*/
#contentsList {
  padding: 20px 0;
}

#contentsList hr.separator {
  width: 10px;
  margin: 30px auto;
  border: solid 1px #c9c9c9;
}

/*
** FEED LIST PAGE
*/
#feedList {
  text-align: left;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#feedList h2 {
  margin-bottom: 0.25rem;
}

#feedList .date {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #c9c9c9;
}

/*
** STANDARD PAGE
*/
main {
  padding: 20px 10px;
  max-width: 800px;
  margin: 0 auto;
}

main .e-content {
  text-align: left;
}

main .e-content h2 {
  padding-bottom: .3em;
  font-size: 1.5em;
  border-bottom: 1px solid #c9c9c9;
}

/*
** Home Page
*/
.main-home {
  min-height: calc(100vh - 100px);
  /* max-width: 600px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-home .h-card {
  max-width: 600px;
}

.main-home .h-card .avatar {
  height: 250px;
}

.main-home .h-card .avatar img {
  width: 250px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.main-home .h-card .avatarMask {
  clip-path: circle(120px at center);
  -webkit-clip-path: circle(120px at center);
}

/* END HOME PAGE */

/*
** Footer
*/
footer {
  font-size: 12px;
  box-sizing:border-box;
}

/* END FOOTER */

/*
** EXTRA
*/
#webmentions img { max-height: 1.2em; margin-right: -1ex; }

.date-updated { margin-top: -18px; }
