/*
** General
*/
body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  background-color: #EFEFEF;
  /* background-image: url(/img/winter.png); */
  background-color: #fafafa;
  color: #313131;
  text-align: center;
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  font-size: 1rem;
  word-wrap: break-word;
}

a .fa, a .fas, a .fab {
  color: #5c3c2e;
}

a:link {
  color: #575757;
}

a:visited {
  color: #575757;
}

a:hover {
  color: #575757;
}

a:active {
  color: #575757;
}


strong {
  font-weight: 700;
}

.title {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600;
}

/*
** HEADER
*/
.avatarMask {
  clip-path: circle(48px at center);
  -webkit-clip-path: circle(48px at center);
}

/* Topbar Header */

.header-top {
  font-size: 0.9em;
  padding: 0.25rem;
  color: black;
  background-color: #fafafa;
  border-bottom: 1px dashed #5c3c2e;;
  padding-left: 3rem;
}

.header-top a { color: black !important;}

.header-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.header-top .title { margin-right: 1rem; max-width: 400px; }

.header-top .h-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  width: 350px;
}

@media (max-width: 550px) {
  .header-top {
    padding-left: 20px;
  }
  .header-top .title { margin-right: 0; }
  .header-flex { flex-direction: column; }
  .header-top .h-card {
    flex-direction: column-reverse;
    width: auto;
  }
}

/* END HEADER */

/*
** NAVIGATION
*/
.nav-home ul {
  display: flex;
  justify-content: space-evenly;
  /* max-width: 300px; */
  margin: 20px auto;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.nav-home li {
  margin: 0 10px;
}

/* END NAVIGATION */

/*
** SEARCH
*/ 
mark {
  color: #707070;
  font-weight: bold;
}

#searchBox {
  position: relative;
  height: 30px;
  margin: 20px auto;
}

#searchBox #searchBoxInput {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 35px 0 15px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  outline: 0;
  /* font-size: 15px; */
  color: #707070;
  background-color:#f6f6f6;
  border: solid 1px #c9c9c9;
  box-sizing: border-box;
}

#searchBox #searchBoxInput::placeholder {
  color: #c9c9c9;
}

#searchBox #searchBoxIcon {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 5px;
  right: 10px;
}

#searchResults {
  display: none;
  position: absolute;
  max-width: 1000px;
  /* min-width: 300px; */
  margin: 0 auto;
  top: 230px;
  left: 0;
  right: 0;
  padding: 5px;
  background-color:#f6f6f6;
  border: solid 1px #c9c9c9;
  border-radius: 5px;
  text-align: left;
  box-sizing: border-box;
}

#searchResults .searchResultPage {
  padding: 20px
}

#searchResults .searchResultTitle {
  font-weight: bold;
  margin: 5px 0;
}

#searchResults .searchResultBody {
  font-size: 14px;
}

#searchResults mark {
  background-color: #dddfdf;
}

/* END SEARCH */

/*
** TAGS
*/
.tags {
  text-align: left;
}
.tags ul {
  margin: 0 auto;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;
}

.tags-page ul {
  justify-content: center;
}

.tags li a {
  display: block;
  height: 24px;
  margin: 5px;
  padding: 0 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  font-size: 1.25rem;
  border: 1px solid #888a8a;
  text-decoration: none;
}

.tags li a:hover {
  border: 1px solid black;
}

/* END TAGS */

/*
** BLOG LIST PAGE
*/

.bloglist-teaser {
  font-size: 1.75rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
  text-align: left;
}

.bloglist-date {
  font-size: 1.75rem;
  font-weight: 600;
  font-family: monospace;
  color: #5c3c2e;
}

.bloglist {
  text-align: left;
  font-size: 1.5rem;
  padding: 20px 0;
}

.bloglist-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bloglist-item p {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.bloglist-item-tag a {
  color: gray;
  text-decoration: none;
  font-size: 0.75em;
}

.bloglist-item-tag a:hover {
  color: #555;
}

@media (max-width: 850px) {
  .bloglist-item-tag {
    display: none;
  }
}

.bloglist hr.separator {
  width: 10px;
  margin: 30px auto;
  border: solid 2 px #c9c9c9;
}

/*
** FEED LIST PAGE
*/
#feedList {
  text-align: left;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#feedList h2 {
  margin-bottom: 0.25rem;
}

#feedList .date {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #c9c9c9;
}

/*
** STANDARD PAGE
*/
main {
  font-size: 1.25em;
  padding: 20px 10px;
  max-width: 1000px;
  margin: 0 auto;
  min-height: calc(100vh - 250px);
}

article {
  padding-bottom: 2rem;
}

main .e-content {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: left;
}

.e-content a:hover {
  box-shadow: inset 1000px 0 0 0 #5c3c2e;
  color: white;
}

main .e-content h2 {
  padding-bottom: .3em;
  /* font-size: 1.5em; */
  border-bottom: 1px solid #c9c9c9;
  border-bottom: 1px solid #5c3c2e;;
  color: #5c3c2e;
}

/*
** Home Page
*/
.main-home {
  min-height: calc(100vh - 100px);
  /* max-width: 600px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-home .h-card {
  max-width: 600px;
}

.main-home .h-card .avatar {
  height: 250px;
}

.main-home .h-card .avatar img {
  width: 250px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.main-home .h-card .avatarMask {
  clip-path: circle(120px at center);
  -webkit-clip-path: circle(120px at center);
}

/* END HOME PAGE */

/*
** Footer
*/

footer {
  padding-top: 0.5rem;
  background-color: #363636;
  color: #ededed;
  min-height: 100%;
  font-size: 1rem;
  box-sizing:border-box;
}
footer a:link {
  color: white;
}

.footer-navs {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  text-align: left;
  flex-wrap: wrap;
  padding: 1rem;
}

/* END FOOTER */

/*
** MASTODON TOOTS
*/
.toot {
  margin-bottom: 2rem;
  padding: 15px;
  border: 1px solid #656565;
  border-radius: 10px;
}
.toot .date {
  vertical-align: top;
  margin-bottom: 0;
}
.toot-avatar { display: inline-block; }
.toot img { border: 2px solid black; }

.toot .date {
  display: inline-block;
}
.toot-photos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
main .e-content .toot-photos img {
  width: 100%;
  max-width: 300px;
}
.toot-social { margin-top: 1rem; }

/* END TOOTS */

/*
** EXTRA
*/
#webmentions img { max-height: 1.2em; margin-right: -1ex; }

.date-updated { margin-top: -18px; }

.pgpform {
  width: 100%; 
  min-height: 10rem;
  font-size: 1rem;
}

.pgpbutton {
  font-size: 1rem;
}

/*
** Fonts
*/
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(/webfonts/ibm-plex-mono/300-italic.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/webfonts/ibm-plex-mono/400-italic.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(/webfonts/ibm-plex-mono/600-italic.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/webfonts/ibm-plex-mono/700-italic.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/webfonts/ibm-plex-mono/300.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/webfonts/ibm-plex-mono/400.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/webfonts/ibm-plex-mono/600.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/webfonts/ibm-plex-mono/700.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
