{{ define "main"}}
  {{ partial "header.html" . }}
  <main>
    {{ $posts := where site.RegularPages "Type" "blog" }}
    {{ $postCount := len $posts }}
    {{ range last 1 $posts }}
      {{ $tags := .Site.Taxonomies.tags }}
      <div class='bloglist-teaser'>
      Here you'll find <strong>{{ $postCount | lang.NumFmt 0 }} posts</strong>
      written spanning <strong>{{ len $tags }} topics</strong>.
      </div>
    {{ end }}
    <br/>
    <div class="tags tags-all">
    <ul>
      {{ range .Site.Taxonomies.tags.ByCount }}
        <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }} ({{ .Count }})</a></li>
      {{ end }}
    </ul>
  </div>
  <div class="e-content">
    {{ .Content }}
  </div>
  </main>
  {{ partial "footer.html" . }}
{{ end }}
