<header class="header-top">
<div class="header-flex block-center">

  {{ $headerTitle := .Scratch.Get "customTitleHeader" }}
  {{ $headerLink := .Scratch.Get "customTitleHeaderLink" }}

  {{ if (.Scratch.Get "customTitleHeaderSet") }}
    {{ if eq $headerTitle ""}}
      <div></div>
    {{ else }}
      <h1 class='title'>
        {{ if $headerLink }}
          <a href="{{ $headerLink }}">
            ~/{{ $headerTitle }}
          </a>
        {{ else }}
          ~/{{ $headerTitle }}
        {{ end }}
      </h1>
    {{ end }}
  {{ else }}
    <h1 class="title">~/{{ .Title }}</h1>
  {{ end }}


  <div class="h-card p-author">
    <h2 class="p-name"><a class="author u-url" rel="me" href="{{ .Site.BaseURL }}">{{ .Site.Params.Author }}</a></h2>
    {{ $profile_image := resources.Get (printf "img/%s" .Site.Params.avatar) }}
    {{ $profile_width := 75 }}
    {{ $profile_image := $profile_image.Resize (printf "%dx webp q75" $profile_width) }}
    <img class="avatarMask u-photo" width="{{ $profile_width }}" height="{{ $profile_width }}" src="{{ $profile_image.Permalink }}" alt="Photo of {{ .Site.Params.Author }}">
    <div style="display: none">
        <!-- email / description (for h-card) -->
        <a class="u-email" href="mailto://{{ .Site.Params.email }}"></a>
        <p class="p-note">
          {{ .Site.Params.description | safeHTML }}
        </p>
    </div>
  </div>


</div>
</header>
