<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
<body>
  <main class="main-home">
    <div class="h-card">
      <!-- avator -->
      <div class="avatar">
        {{ $profile_image := resources.GetRemote (printf "%s/img/%s" .Site.BaseURL .Site.Params.avatar) }}
        {{ $profile_width := 250 }}
        {{ $profile_image := $profile_image.Resize (printf "%dx" $profile_width) }}
        <img class="avatarMask u-photo" width="{{ $profile_width }}" src="{{ $profile_image.RelPermalink }}" alt="Photo of {{ .Site.Params.Author }}" />
        <img src="{{ .Site.BaseURL }}/img/avatar-border.svg" />
      </div>
      <!-- author -->
      <h1 class="author title p-name">{{ .Site.Params.Author }}</h1>
      <a style="display: none" rel="me" class="u-url" href="https://brandonrozek.com"></a>
      <!-- description -->
      <p class="p-note">
        {{ .Site.Params.description | safeHTML }}
      </p>
      <!-- Site Navigation -->
      <nav class="nav-home">
        <ul>
          {{ range .Site.Menus.main }}
            <li><a href="{{ .URL }}" aria-label="{{ .Identifier }}">{{ .Pre }}<br>{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </nav>
      <!-- Social Navigation -->
      <p>You can also find me on:</p>
      <nav class="nav-home">
        <ul>
          {{ range .Site.Menus.profile }}
            <li><a href="{{ .URL }}" rel="me" aria-label="{{ .Identifier }}">{{ .Pre }}<br>{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </nav>
    </div>
  </main>
  {{ partial "footer.html" . -}}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "{{ .Permalink }}"
    }
  </script>
</body>
</html>
