{{ define "main"}}
{{ .Scratch.Set "customTitleHeaderSet" true }}
{{ .Scratch.Set "customTitleHeader" "Tracks" }}
{{ .Scratch.Set "customTitleHeaderLink" "/tracks" }}
{{ partial "header.html" . }}
<main>
  <article class="h-entry">
    <h1 class='title p-name'>{{ .Title }}</h1>
    <a style="display: none" class="u-url" href="{{ .Permalink }}"></a>
    <div style="display: none;" rel="author" class="h-card p-author">
      <img class="u-photo" src="{{ .Site.BaseURL }}img/avatar.jpg"/>
      <span > {{ .Site.Params.Author }}</span>
    </div>
    {{ .Scratch.Set "beforeDateString" "Published on "}}
    {{ partial "date.html" . }}
    {{ partial "reading_time.html" . }}
    {{ partial "tags/page.html" . }}
    <!-- content -->
    <div class="e-content">
      {{ .Scratch.Set "gpxFile" .Params.gpx }}
      {{ partial "external/gpxstudio.html" . }}
      {{ .Content }}
    </div>
  </article>
  {{ partial "webmentions.html" . }}
</main>
{{ partial "footer.html" . }}
{{ end }}
